.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
node_modules/**
webpack.config.js
jest.config.js
.prettierrc
.eslintrc.js
rf.md
**/*.test.ts
**/*.spec.ts
.git/** 